.container {
  background-color:beige;
  width: 100%;
  height: 100%;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-bottom: 12px;
  font-size: 2.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

.container input {
  min-width: 360px;
  padding: 5px 12px;
  margin-bottom: 36px;
  outline: none;
}

form {
  margin-top:40px;
}